body {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-family: 'Lato', sans-serif;
    
}

.logo {
    float: left;
    max-width: 80%;
}

.menu {
    background-color: #222;
}

.menu_button {
    background-color: #222;
    border-right: 1px solid #FF8C00;
    padding: 10px;
}

.menu_button a {
    color: aliceblue;
    font-size: 1.3em;
}

.menu_button:hover {
    background-color: #333;
}
.menu_button a:hover {
    color: #999;
}

img {
    max-width: 100%;
}


.prostory {
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.soukrome, .komercni {
    text-align: center;
    
}