/* STYLY NA ÚVOD */

body {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    /* background-image: url(/images/background.png) */
    background-color: #fff9e7;
}


.logo {
    float: left;
    width: 25%;
    padding-top: 15px;
    padding-bottom: 15px;
    box-sizing: border-box;
}

.p-tb {
    padding-top: 6rem;
    padding-bottom: 6rem;
}


main a h2 {
    color: #fff;
}


.kameny {
    background-image: url(../images/kameny_pozadi.jpg)
}

a:focus h2,
a:hover h2 {
    color: #fff;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Montserrat', sans-serif;
}



.menu1 {
    margin-bottom: 40px;
}

.menu {
    font-size: 0.8em;
    float: right;
    padding-top: 15px;
}


.menu_button a {
    color: white;
    font-size: 1.3em;
    padding: 20px;
}

.menu_button a:hover {
    color: #eeb111;
}

.menu_pozadi {
  background-color: #14110f;
}

img {
    max-width: 100%;
}

/* HERO */

.uvodni_obrazek {
    width: 100%;
    background: url(../images/slider_pozadi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 40%; /* 16:9 Aspect Ratio */
}

.hero_uvod {
    text-align-last: center;
    font-family: 'Montserrat', sans-serif;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.hero_uvod p {
    font-size: 2.5em;
    color: #000;
    background: rgba(255, 215, 0, 0.7);
    text-align: center;
    padding: 0px 20px 10px 20px;
}

.hero_uvod h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #000;
    background: rgba(238, 177, 17, 0.7);
    margin-bottom: 0;
    line-height: 3.5rem;
    display: inline-block;
    padding: 10px 20px;
}

.hero2 {
    background-color: #ab9570;
}

.hero2 h2 {
    color: #413a29;
}

.hero_text {
    width: 100%;
    background-size: cover;
    text-align: center;
    color: #eeb111;
}

.hero_text p {
    font-size: 1.5em;
    color: white;
    margin: 0;
}

.hlavni-tlacitka h2 {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
}

.hlavni-tlacitka .obal {
    overflow: hidden;
}

.hlavni-tlacitka .column {
    padding: 0;
}

.hlavni-tlacitka h2 {
    margin: 0;
}

.hlavni-tlacitka a {
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: gray;
    background-blend-mode: luminosity;
    transition: all 0.3s;
}

.hlavni-tlacitka a:hover {
    -webkit-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
    cursor: pointer;
    background-blend-mode: normal;
}

.soukrome {
    background: url(../images/soukromy1.jpg);
}

.komercni {
    background: url(../images/komercni1.jpg);
}

/*
.soukrome {
    filter: gray;
    -webkit-filter: grayscale(1);
    -webkit-transition: all .1s ease-in-out;
    background: url(../images/soukromy1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.soukrome:hover {
    filter: none;
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.01);
}

.komercni {
    filter: gray;
    -webkit-filter: grayscale(1);
    -webkit-transition: all .1s ease-in-out;
    background: url(../images/komercni1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.komercni:hover {
    filter: none;
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.01);
}
*/

.novinky {
    clear: both;
}

.novinky_text a h3 {
    border-bottom: 1px solid #eadfc9;
    color: #574b42;
    margin-bottom: 12px;
    padding-bottom: 10px;
}

.novinky_text {
    margin-bottom: 40px;
    padding-top: 40px;
    color: #000;
}

.novinky_text a h2 {
    padding-top: 40px;
}

.novinky_img {
    padding: 5px;
    border: 1px solid #eadfc9;
    background-color: #eadfc9;
}

.novinky_pozadi {
    background-color: #f5ebd9;
}

.topodsazeni {
    padding-top: 20px;
    background-color: #14110f;
}

.galerie {
    padding: 0;
}

img .column .galerie {
    padding: 0;
}

footer {
    background-color: #14110f;
    color: #988d74;
    padding: 20px;
}

.pata {
    float: left;
}

.kontakt h2 {
    margin-bottom: 0px;
    color: white;
}

.kontakt p {
    padding-top: 20px;
}

.moto {
    text-align: right;
}

.socialsites a {
    float: right;
}

.socialsites img {
    max-width: 3.25rem;
    padding: 6px;
    padding-top: 20px;
}

.socialsites img:hover {
    transform: scale(1.1);
}

.facebook,
.skype,
.email,
.pinterest,
.darek {
    padding: 5px;
    fill: white;
}

.cf:before,
.cf:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

/* STYLY NA ÚVOD */

/* STYLY NA SLUŽBY */
.h1{
	text-align: center;
}

table thead, table tbody, table tfoot {
    border: none;
    background-color: #fefefe;
}


table {
    border: none;
	
}

tr {
	border: none;
}

td {
 background-color: #fff9e7;
 border-bottom: 1px solid #333;
 padding: 20px;
}

.li_padding li {
    padding: 5px;
}

.doprostred {
    text-align: center;
}

tbody tr:last-child td {
	border: none;
}

.kulaty {
	border-radius: 3px;
}

.main {
	padding-top: 80px;
	padding-bottom: 80px;
}


.article {
	padding-top: 80px;
}

.article:first-of-type {
	padding-top: 0;
}
